# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/

# Virtual env / conda
.venv/
venv/
.env

# IDE
.idea/
.vscode/

# OS
.DS_Store

# Large artifacts
models/*.h5
models/*.keras

# Ignore large EN models and GAN artifacts
models/*_EN.h5
models/HAM10000_*.h5
